div[id="Header"]
{

background-color: black;
width:350px;
height: 50px;
margin-left: 400px;
color: azure;
font-weight: bold;
padding-left:80px;
text-align: center;
}

p[id="develop"]
{
    background-color: black;
    color: chartreuse;
    margin-left: 10px;
    width: 150px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer
{
    background-color: cornflowerblue;
    width: 400px;
    height: 40px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: large;
    margin-left: 450px;
    
}
a[id="about"]
{
color: bisque;
margin: 20px;
margin-right: 50px;
margin-top: 30px;
}
a[id="contact"]
{
color: bisque;
margin: 20px;
margin-right: 50px;
}
img[id="linkedin"]
{
width: 20px;
height: 20px;
}