Movie
{
    background-color: brown;
    padding: 20px;

}
.Portfolio
{
    background-color: black;
    color: white;
}

html
{
    background-color: black;
    color: white;
}
#movie-img
{
    margin-left: 100px;
}
.contact
{
    background-color: black;
    color: green;
    font-weight: bolder;

}